NEXT_PUBLIC_SUPABASE_URL= https://ralxshhdsmeepjfidvbz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJhbHhzaGhkc21lZXBqZmlkdmJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA4NjAwMDAsImV4cCI6MjEwNjQzNjAwMH0.7JIMGovHMHt4vpLcKcgxxVlTIFiIVA9rU2b9SJ-bBtA
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJhbHhzaGhkc21lZXBqZmlkdmJ6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDg2MDAwMCwiZXhwIjoyMTA2NDM2MDAwfQ.E4rcHAIm4ZSsjSkKykOO9h9Xa34gSfxcaHbXZ_R1r78
PAYSTACK_SECRET_KEY=sk_test_9341c57bd3c8c66aaeb4fcf0727e3a42eebace30
NEXT_PUBLIC_SITE_URL=http://localhost:3000
PAYSTACK_WEBHOOK_SECRET=
